BETTER_AUTH_SECRET=some-very-secure-and-random-string

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/backstage

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=access-key
S3_SECRET_ACCESS_KEY=secret-key
S3_BUCKET=backstage-uploads
S3_REGION=us-east-1