:80 {
	reverse_proxy  /{$S3_BUCKET}/* {$S3_HOST:minio}:{$S3_PORT:9000}

	reverse_proxy /ws {$WEBSOCKET_HOST:websocket}:{$WEBSOCKET_PORT:3001}

	reverse_proxy /* {$APP_HOST:wipstudio}:{$APP_PORT:3000}

	# Logs
	log {
		output stdout
		format console
	}
}
